<%= form_for @question do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.fields_for :options, question.options.each do |a| %>
    <div class="field">
      <%= a.label :options, 'options' %>
      <%= a.text_area :body %>
      <%= radio_button_tag "question[answer_id]", a.object.id, a.object.is_answer? %>  
      <%= a.radio_button :is_answer, "answer" %> 
      <%= a.label :is_answer, "answer" %>
      <%= a.check_box :_destroy %>
      <%= a.label :_destroy, 'delete' %>
    </div>    
  <% end %> 

 


 <%= form.submit 'Add option', :name => "add_option" %>
 <%= form.submit 'Delete options', :name => "remove_option" %>

  <div class="actions">
    <%= form.submit %>    
  </div>

<% end %>
