<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <tr><strong>Options:</strong></tr><br />

 

  <%= form_tag({controller: "questions", action: "check_answer"}, method: "get") do %>
  <% @question.options.each do |p| %>
    <% if p.is_answer %>
  	<%= radio_button_tag('option',true, p.id) %>
  	<%= p.body %>
    <% else %>
    <%= radio_button_tag('option', p.id) %>
    <%= p.body %>  	
  <% end %>
  <% end %>
</p>

<% end %>
<p>
  <strong>User:</strong>
  <%= @question.user.email %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
